/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Variaveis*/
:root{
    --background-primary-color: #2563eb;
    --background-secundary-color: #00050e;
    --background-terciary-color: #1e293b;
    --light-color: #f8fafc;
    --color-support:#98a3b8;
    
    --font-title: 'Poppins', sans-serif;
    --font-text: 'Inter';

    --text-weight-title: 600;

}
/* Reset Geral */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-title);
}

.btn{
    background-color: var(--background-primary-color);
    padding: 12px;
    border-radius: 10px;
    width: 160px;
    text-align: center;
    color: var(--light-color);
    text-decoration: none;
    font-weight: var(--text-weight-title) ;
}