.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    gap: 100px;

}
.pc-glow{
    position: absolute;
    right: 50px;
    top:0%;
    transform: translateY(70%);
    width: 340px;
    height: 580px;
    background: radial-gradient(
        circle at right bottom,
        rgba(2, 149, 255),
        transparent 70%
    );
    filter: blur(90px);
    z-index: 0;
}

.hero-tag{
    color:  var(--primary-color);
    font-size: 10px;
    padding: 20px 0 0 0;
}

.hero h1{
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: var(--text-weight-title);
    color: var(--light-color);
}

.hero span{
    color:var(--primary-color);
}

.hero-description{
    color: var(--light-color);
    line-height: 1.9;
    margin: 25px 0;
    font-size: 20px;
}

.hero-img{
    border-radius:15px;
    overflow: hidden;
    background: url(../img/img-hero-sf.png) no-repeat;
    background-size: 100%;
    background-position: center center;
    width:110%;
    min-height: 50vh;
    z-index: 1;
}

.hero-btns{
 height: 50px;   
 display:flex;
 flex-direction: column;
 gap: 30px;
}

.btn.link.services{
    width: 220px;
    background-color: transparent;
    color:var(--light-color);
    border: solid 1.5px var(--light-color);
    padding: 14px 20px;
}

.btn.link.orc{
    width: 220px;
    padding: 14px 20px;
}
 
@media screen and (min-width: 768px){

    .hero{
        gap: 50px;
    }
    .hero h1{
        font-size: 3rem;
    }
    
    .hero-description{
        font-size: 1.5rem
    }
    
    .hero-btns{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 80px
    }

    .btn.link.services{
    width: 365px;
    padding: 30px;
    text-align: center;
    font-size: 25px;
}

.btn.link.orc{
    width: 365px;
    padding: 30px;
    text-align: center;
    font-size: 25px;
}

.hero-img{
    border-radius:15px;
    overflow: hidden;
    background: url(../img/img-hero-sf.png) no-repeat;
    background-size: contain;
    background-position: center center;
    width:100%;
    min-height: 100vh;
    z-index: 1;
}

.pc-glow{
    position: absolute;
    right: 50px;
    top:0%;
    transform: translateY(65%);
    width:800px;
    height:725px;
    background: radial-gradient(
        circle at right bottom,
        rgba(2, 149, 255),
        transparent 70%
    );
    filter: blur(90px);
    z-index: 0;
}
}

@media screen and (min-width: 1024px){
    .hero-tag{
        font-size: 20px; 
    }

    .hero h1{
        font-size: 3.5rem;
    }

    .hero-description{
        font-size: 2.1rem;
    }
   
    .hero-img{
        width:100%;
        background-size: 100%;
        min-height: 68vh;
    }
}