.services{
    color: var(--light-color);
    padding: 0 20px;
}

.cards-container{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    flex-direction: column;
}

.card{
    background-color:var(--background-terciary-color);
    border-radius: 15px;
    padding: 60px;
    line-height: 35px;
}
.card h3{
    font-size: 26px;
    margin: 8px 0;
}

.card p{
    font-size: 10px;
}

.img-computer{
    width: 70px
}

.img-maintenance{
    width: 70px
}

.img-upgrade{
    width: 70px;
}

.img-remote{
    width:70px;
}