.upgrade .sobre h1{
    color: var(--light-color);
}
.upgrade .sobre span{
    color: var(--primary-color);
}
.info-upgrade{
        color:var(--light-color);
        display:flex;
}

.info-upgrade p{
    line-height: 50px;
}
.btn.link.up{
    margin: -20px 0 120px 0;
    padding: 15px 0;
}